<div class="col-sm-12 col-md-8 col-lg-4 mx-auto">
  <div class='container mt-5'>
  <div class='mx-auto'><h1>フォローリクエスト</h1></div>
<% @follow_requests.each do |request| %>
  <p>
    
    <%= request.follower.name %> さんからフォローリクエストが届いています。
    <%= link_to '承認', approve_request_path(request_id: request.id), method: :post %> |
    <%= link_to '拒否', reject_request_path(request_id: request.id), method: :delete %>
  </p>
<% end %>
</div>
</div>