<div class="container">
    <div class="row justify-content-center">
      <h4 class="font-weight-normal mt-5 mb-5">フォロー一覧</h4>
    </div>
    <div class="row justify-content-center">
      <% @users.each do |user| %>
      <div class="one-post card w-100">
        <%= link_to user_path(user) do %>
        <p class="caption h4"><%= user.name %></p>
        
        <p class="caption"><%= "#{user.places.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>