<p id="notice">
    <%= flash[:notice] %>
</p>
<h4>user/index</h4>
<% @users.each do |user| %>
  <tbody>
    <td>
      <%= link_to user_path(user) do %>
        <%= user.name %>
    </td>
      <% end %>
  </tbody>
<% end %>