<p id="notice">
    <%= flash[:notice] %>
</p>
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>Users</h2>
            <table class='table table-hover table-inverse'>
             
              <% @users.each do |user| %>
                <tbody>
                  <tr>
                    
                      <div class="one-post card w-100">
                      <%= link_to user_path(user) do %>
                      <p class="caption h4">
                        <%= attachment_image_tag user, :profile_image, class: "square-image2", format: 'jpeg', fallback: "default-image2.jpg", style: 'border-radius: 50%'%>
                    
                      
                          <%= user.name %>
                          </p>
                     
                      </div>
                      <% end %>
                      
                  </tr>
                </tbody>
                <% end %>
            </table>
          </div>
