<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <h1 class="px-3 mx-auto">Welcome to 
        <i class="fas fa-map"></i>
        <strong>Photomap About</strong>!
      </h1>
    </div>
    <div class="row justify-content-center">
      <h6 class="px-3 text-center">旅行、ライブ、聖地巡礼のあなたの思い出を残してみませんか。</h6>
    </div>
</main>