<h1>Photo Album</h1>

<div class="album">
  <% @places.each do |place| %>
    <span class="photo">
      <%= link_to photo_path(place) do %>
        <%= attachment_image_tag place, :image, :fill, 100, 100, format: 'jpeg' %>
      <% end %>
      <span>
        <% if place.user == current_user %>
        <%= link_to "削除", map_path(place), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'delete-button', "data-place-id" => place.id %>

      <% end %>
      </span>
    </span>
  <% end %>
</div>
