/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require lightbox
 */
 @import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.image-container {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

@media (max-width: 767px) {
.image-container {
  width: 100px; /* 正方形のサイズを指定 */
  height: 100px;
  object-fit: cover;
}
}

.square-image {
  width: 100px; /* 正方形のサイズを指定 */
  height: 100px;
  object-fit: cover;
}

.square-image2 {
  width: 70px; /* 正方形のサイズを指定 */
  height: 70px;
  object-fit: cover;
}


#map {
  width: 100%; /* 幅を100%にすることで親要素に合わせて伸縮する */
  height: 600px; /* 固定の高さを保持 */
}

/* 携帯端末向けのスタイル */
@media (max-width: 767px) {
  #map {
    height: 300px; /* 小さな画面では高さを調整 */
  }
}
