<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span>Photomap</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
             <a class="nav-link text-light" href="/maps">
              <i class="fas fa-home"></i>Home
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/home/about">
              <i class="fas fa-link"></i>About
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/maps/new">
              <i class="fas fa-plus"></i>新規投稿
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= user_path(current_user.id) %>">
              <i class="fas fa-user"></i>マイページ
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= users_path %>">
              <i class="fas fa-users"></i>Users
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/photos/index">
              <i class="fas fa-image"></i>PhotoAlbum
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/information">
              <i class="fas fa-info-circle"></i>Information
            </a>
          </li>
          <li>
            <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
              <i class="fas fa-sign-out-alt"></i>ログアウト
            </a>
          </li>
          <li>
    <% else %>
          <li>
            <a class="nav-link text-light" href="/">
              <i class="fas fa-home"></i>Home
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/home/about">
              <i class="fas fa-link"></i>About
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/users/sign_up">
              <i class="fas fa-user-plus"></i>新規登録
            </a>
          </li>
          <li>
            <a class="nav-link text-light" href="/users/sign_in">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>